<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1>Edit Your Recipe</h1>
    <form action="/recipes/<%= recipe._id %>_method=PUT" method="POST">
        <label>
            Name:
            <input
             type="text"
             name="name"
             value="<%= recipe.name %>"
             autocomplete='off'
            >
        </label>
        <button type="submit">Edit Recipe</button>
    </form>
</main>

<%- include('../partials/footer') %>