<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    Recipes
    <% if (recipes.length) { %> 
        <ul>
            <% recipes.forEach(recipes => {  %> 
            <li>
                <a href="/recipes/<%= recipe._id %> "></a>
                <%= recipes.name %>
                
            </li>
            <% }) %> 
        </ul>
        <% }else {%>
            <h2>There are no recipes</h2> 
      <% } %> 
      <a href="/recipes/new">Add A Recipe</a>
</main>

<%- include('../partials/footer') %>


