<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1>Recipes</h1>
    <% if (recipes.length) { %> 
        <ul>
            <% recipes.forEach(recipe => {  %> 
            <li>
                <a href="/recipes/<%= recipe._id %> ">Recipe Name:<%= recipe.name %></a>
                <p>Description:<%= recipe.description %> </p>
                
            </li>
            <% }) %> 
        </ul>
        <% }else {%>
            <h2>There are no recipes</h2> 
      <% } %> 
      <a href="/recipes/new">Add A Recipe</a>
</main>

<%- include('../partials/footer') %>


