<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <section>
        <p>Created By: <%= recipe.owner.name %> </p>
        <h1><%= recipe.name %> </h1>
        <h1><%= recipe.description %> </h1>
    </section>
</main>

<%- include('../partials/footer') %>