<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <section>
        <p>Created By: <%= recipe.owner.name %> </p>
        <h1><%= recipe.name %> </h1>
        <h1><%= recipe.description %> </h1>
        <p><%= recipe.instructions %> </p>
    </section>
    <% if (recipe.owner.equals(user?.profile._id)) { %> 
        <p>
            <a href="/recipes/<%= recipe._id %>/edit ">Edit This Recipe</a>
        </p>
        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
            <button type="submit">
                Delete This Recipe
            </button>
        </form>
    <% } %> 
</main>

<%- include('../partials/footer') %>