<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <section>
        
        <h1><%= recipe.name %> </h1>
        <h2><%= recipe.country %> </h2>
        <img id="show-img" src="<%= recipe.imageURL ? recipe.imageURL : 'https://i.imgur.com/dNWd42c.png' %>" alt="">
        <h2><%= recipe.description %> </h2>
        <p><%= recipe.instructions %> </p>
        <h3>Created By: <%= recipe.owner.name %> </h3>

        
    </section>
    <% if (recipe.owner.equals(user?.profile._id)) { %> 
        <p>
            <a href="/recipes/<%= recipe._id %>/edit ">Edit This Recipe</a>
        </p>
        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
            <button type="submit">
                Delete This Recipe
            </button>
        </form>
    <% } %>
    <form 
        action="/recipes/<%= recipe._id %>/reviews"
        method="POST">
        <label>Review :
            <input type="text" name="review" required>
        </label>
        <button type="submit">Add Review</button>
    </form> 
</main>

<%- include('../partials/footer') %>